.center{
    width: 160px;
    background-color: #2c2d38;
    border: 1px solid #84d0e6 ;
    height: 155px;
    border-radius: 10px;
}
.inputs{
    color:#66d9ff;
    background-color:#2c2d36 ;
    margin: 10px;
    height: 60px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    flex-direction:column;
    border:1px solid #66d9ff;
}
.inputsContainer{
    margin: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    display: flex;
    justify-content:space-between;
}
.input{
    width: 30px;
    height: 13px;
    border-color: #66d9ff;
    border-radius: 5px;
}
.buttons{
    border:1px solid #84d0e6;
    margin: 10px;
    border-radius: 10px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redInput{
    background-color: #ef9cad;
    border-color: #b6285c;
}
